@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Raleway:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

.botonera {
  background-color: #ffff;
  padding: 5px 30px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  flex-wrap: wrap; }
  .header .header__sello {
    max-width: 200px;
    margin: auto; }
