// definimos variables

// colores
$colorMain: #DB9E76  ; 
$colorMalba: #D4BDC1;
$colorVerde: #A1CDAC ;
$colorVerdeClaro: #E3F0E7 ;
$colorArena: #CFC9C2;
$colorTextoGris : #585858;
$colorBlanco: #ffffff;

// sizing
$w-100: 100%;
$w-50: 50%;
$w-100: 25%;
$w-25: 25%;

//text

// extends
.btn{
  padding: 15px 12px;
  border: none;
  background-color: $colorArena;
  color: $colorBlanco;
  border-radius: 15px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  &:hover{
    color: $colorTextoGris;
    cursor: pointer;
  }
}
.btn-more{
  @extend .btn;
  background-color: $colorVerde;
  color: $colorBlanco;
  &:hover{
    color: $colorTextoGris;
    cursor: pointer;
  }
}
// mixins-----------------------------------------------------------------
@mixin texto($font-size, $font-weight, $color){
     font-size: $font-size;
     font-weight: $font-weight;
     color: $color ;
}
h1{
  @include texto(2em,900, $colorTextoGris)
 }
h2{
  @include texto (2em,700, $colorTextoGris)
 }
h3{
    font-size: 2em;
     font-weight: 700;
     color: $colorTextoGris;
     margin: 2rem;
}
h4{
  @include texto(2em,500,$colorBlanco)
}

// mapa 
$paleta: (
'main': $colorMain,
'malba': $colorMalba,
'verde': $colorVerde,
'claro': $colorVerdeClaro ,
'arena': $colorArena,
'gris' : $colorTextoGris,
'blanco': $colorBlanco,
);

// animaciones
@keyframes animateDiv{
 0%{width: 100%;}
 25%{width: 200%;}
 50%{width: 300%;}
 75%{width: 400%}
 100%{width: 200%;}
}
.animate{
  animation-name: animateDiv;
  animation-iteration-count: infinite;
  animation-timing-function: easy-in;
  animation-duration: 5s;
  animation-delay: 0s;
}
//  header ---------------------------------------------------------------

.header{
  background-color: map-get($map: $paleta, $key: $colorMain);
  width: 100%;
  .navbar{
    .container-fluid{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-flex-wrap: nowrap;
      -webkit-box-pack: justify;
      align-items: center;
      justify-content: space-between;
    }
  }
  #botonera{
    width: 100%;
    .navbar-brand{
      img{
        .header__logo{
          max-width: 200px;
          margin: auto;
          padding-top: 0; 
          padding-bottom: 0; 
          margin-right: 0.5rem; 
          font-size: 2em;
          text-decoration: none;
          white-space: wrap;
        }
        }
      }
    }
    .navbar-brand{
      img{
        .sello-calidad{
          max-width: 200px;
          margin: auto;
        }
      }
    }
    .dropdown-item{
      @include texto($textSm, 700, $colorMain)
      }
    .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: $colorBlanco;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }
    .nav-item{
      font-family: 'Raleway', sans-serif; 
      color:$colorBlanco;
      font-weight: 700;
      font-size: $textSm;
      }
    div{
      #toggler{
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid $colorBlanco;
        border-radius: 0.25rem;
       transition: box-shadow .15s ease-in-out;
      }
    }  
  }
// destacados texto ---------------------------------------------------------
body {
  margin: 0em;
  font-family: $fontMain;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $colorTextoGris;
  background-color: $colorBlanco;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
// ph -----------------------------------------------------------------------
// section departamentos de index--------------------------------------------- 
.main{
  width: 100%;
}
// section parte de galeria ---------------------------------------

// footer
#footer{ 
  background-color: $colorMain;
  width: 100%;
  a{
    .navbar-brand{
      .footer__logo{
        max-width: 200px;
        margin: auto;
      }
    }
  }
  a{
    .navbar-brand{
      .sello-calidad{
        max-width: 100px!important;
        margin: auto;
      }
    }
  }
    .footer__columna{
      margin: 1em;
      font-family: $fontMain;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: $colorBlanco;
    }
    .nav-link {
      font-family: $fontMain;
      display: block;
      padding: 0.5rem 1rem;
      color: $colorBlanco;
      text-decoration: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      }
  }

  // @media min and max widht
  @media (min-width: 280px) and (max-width: 991px){
    #botonera{
      max-height: 500px;
    }
    #botonera .header__logo{
      width: 150px!important;
    }
    #botonera .sello-calidad{
      width: 100px!important;
    }
    #botonera #toggler{
      width: 50px;
    }
    #footer .footer__logo {
      width: 150px!important;
    }
    #footer .sello-calidad{
      width: 100px!important;
    }
    #footer .footer__columna .h4 {
      width: 150px;
      font-size: 1em;
    }
    #footer .footer_mapa{
      width: 100%;
    }
  }
  @media (min-width: 280px) and (max-width: 387px){
    #botonera .sello-calidad{
      width: 0px!important ;
    }
  }
