#galeria {
    background-color:$colorVerdeClaro;
         .col-lg-4{
         margin: 0!important;
         padding: 25px;
         }
         img{
         width: 100%;
         }
         img:hover{
         border: 10px solid $colorMain;
         }
}