// nav bar
#botonera{
    background-color: $colorMain;
        .header__logo{
            img{
                max-width: 200px;
                margin: auto; 
            }
        }
        .sello-calidad{
            img{
                max-width: 200px;
                margin: auto;
            }
        }
        .nav-link{
            font-size: 1em;
            font-weight: 300;
            color: $colorBlanco;
        }
        .nav-link.active, .show>{
            font-family: $fontMain; 
            color: $colorMain;
            font-weight: 900;
        }
        .navbar-light .navbar-nav .nav-link {
            font-family: $fontMain; 
            color: $colorMain;
            font-weight: 900;
        }
        .dropdown-item{
            color: $colorMain;
            font-weight: 300;
        }
        .div{
            .a{
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: 2s;
            }
        }
         // hover
         .div .a:hover{
             color: $colorVerdeClaro;
             background-size: 100%;
         }
    }
   
