@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Raleway:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn, .btn-more {
  padding: 15px 12px;
  border: none;
  background-color: #CFC9C2;
  color: #ffffff;
  border-radius: 15px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 20rem;
}

.btn:hover, .btn-more:hover {
  color: #585858;
  cursor: pointer;
}

.btn-more {
  background-color: #A1CDAC;
  color: #ffffff;
}

.btn-more:hover {
  color: #585858;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  color: #585858;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #585858;
}

h3 {
  font-size: 2em;
  font-weight: 700;
  color: #585858;
  margin: 2rem;
}

h4 {
  font-size: 2em;
  font-weight: 500;
  color: #ffffff;
}

@-webkit-keyframes animateDiv {
  0% {
    width: 100%;
  }
  25% {
    width: 200%;
  }
  50% {
    width: 300%;
  }
  75% {
    width: 400%;
  }
  100% {
    width: 200%;
  }
}

@keyframes animateDiv {
  0% {
    width: 100%;
  }
  25% {
    width: 200%;
  }
  50% {
    width: 300%;
  }
  75% {
    width: 400%;
  }
  100% {
    width: 200%;
  }
}

.animate {
  -webkit-animation-name: animateDiv;
          animation-name: animateDiv;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: easy-in;
          animation-timing-function: easy-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.header {
  width: 100%;
}

.header .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: nowrap;
  -webkit-box-pack: justify;
  align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.header #botonera {
  width: 100%;
}

.header #botonera .navbar-brand img .header__logo {
  max-width: 200px;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0.5rem;
  font-size: 2em;
  text-decoration: none;
  white-space: wrap;
}

.header .navbar-brand img .sello-calidad {
  max-width: 200px;
  margin: auto;
}

.header .dropdown-item {
  font-size: 1em;
  font-weight: 700;
  color: #DB9E76;
}

.header .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.header .nav-item {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
}

.header div #toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow .15s ease-in-out;
  transition: -webkit-box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

body {
  margin: 0em;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.main {
  width: 100%;
}

#footer {
  background-color: #DB9E76;
  width: 100%;
}

#footer a .navbar-brand .footer__logo {
  max-width: 200px;
  margin: auto;
}

#footer a .navbar-brand .sello-calidad {
  max-width: 100px !important;
  margin: auto;
}

#footer .footer__columna {
  margin: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

#footer .nav-link {
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

@media (min-width: 280px) and (max-width: 991px) {
  #botonera {
    max-height: 500px;
  }
  #botonera .header__logo {
    width: 150px !important;
  }
  #botonera .sello-calidad {
    width: 100px !important;
  }
  #botonera #toggler {
    width: 50px;
  }
  #footer .footer__logo {
    width: 150px !important;
  }
  #footer .sello-calidad {
    width: 100px !important;
  }
  #footer .footer__columna .h4 {
    width: 150px;
    font-size: 1em;
  }
  #footer .footer_mapa {
    width: 100%;
  }
}

@media (min-width: 280px) and (max-width: 387px) {
  #botonera .sello-calidad {
    width: 0px !important;
  }
}

#botonera {
  background-color: #DB9E76;
}

#botonera .header__logo img {
  max-width: 200px;
  margin: auto;
}

#botonera .sello-calidad img {
  max-width: 200px;
  margin: auto;
}

#botonera .nav-link {
  font-size: 1em;
  font-weight: 300;
  color: #ffffff;
}

#botonera .nav-link.active, #botonera .show > {
  font-family: "Raleway", sans-serif;
  color: #DB9E76;
  font-weight: 900;
}

#botonera .navbar-light .navbar-nav .nav-link {
  font-family: "Raleway", sans-serif;
  color: #DB9E76;
  font-weight: 900;
}

#botonera .dropdown-item {
  color: #DB9E76;
  font-weight: 300;
}

#botonera .div .a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: 2s;
  transition: 2s;
}

#botonera .div .a:hover {
  color: #E3F0E7;
  background-size: 100%;
}

#galeria {
  background-color: #E3F0E7;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
}

#galeria img:hover {
  border: 10px solid #DB9E76;
}
/*# sourceMappingURL=estilos.css.map */