@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Raleway:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2.4em;
  font-weight: 900;
  color: #979797;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #979797;
}

h3 {
  font-size: 2em;
  font-weight: 500;
  color: #979797;
}

h4 {
  font-size: 2em;
  font-weight: 500;
  color: #ffffff;
}

h5 {
  font-size: 2em;
  font-weight: 700;
  color: #979797;
  margin: 2rem;
}

.header {
  background-color: #DB9E76;
}

.header .header__logo {
  max-width: 250px;
  margin: auto;
}

.header .dropdown-item {
  color: #DB9E76;
  font-weight: 700;
  font-size: 1em;
}

.header .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.header .nav-item {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
}

.header div #toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow .15s ease-in-out;
  transition: -webkit-box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

body {
  margin: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #979797;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.btn {
  padding: 15px 12px;
  border: none;
  background-color: #A1CDAC;
  color: white;
  border-radius: 5px;
  margin: 30px;
}

#footer {
  background-color: #DB9E76;
}

#footer .footer__logo {
  max-width: 250px;
  margin: auto;
}

#footer .footer__sello {
  max-width: 200px;
  margin: auto;
}

#footer .footer__columna {
  margin: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

#footer .nav-link {
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.botonera {
  background-color: #DB9E76;
}

.botonera .header__logo {
  max-width: 200px;
  margin: auto;
}

.botonera .sello-calidad {
  max-width: 200px;
  margin: auto;
}

.botonera .nav-link {
  font-size: 1em;
  font-weight: 300;
  color: #ffff;
}

.botonera .nav-link.active, .botonera .show > {
  font-family: "Raleway", sans-serif;
  color: #DB9E76;
  font-weight: 900;
}

.botonera .navbar-light .navbar-nav .nav-link {
  font-family: "Raleway", sans-serif;
  color: #DB9E76;
  font-weight: 900;
}

.botonera .dropdown-item {
  color: #DB9E76;
  font-weight: 300;
}

#galeria {
  background-color: #E3F0E7;
}

#galeria #galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria #galeria img {
  width: 100%;
}

#galeria #galeria img:hover {
  border: 10px solid #DB9E76;
}

.mainGaleria {
  display: -ms-grid;
  display: grid;
  background-color: #D4BDC1;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2 1fr);
  gap: 1rem;
  padding: 2rem;
}

.imgGaleria {
  background-color: #A1CDAC;
  max-width: 400px;
}

.grid__galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  background-color: #DB9E76;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  width: auto;
}
/*# sourceMappingURL=estilos.css.map */